{% extends "base.html"%}

{% block content %}
<div style="text-align:center;width:80%;margin:auto;margin-bottom:3rem;">
</div>
<div style="display:flex;width:80%;margin:auto;justify-content:space-between;">
    <div style="width:65%">
        <h2 style="margin-bottom:2rem">
            Kontak
        </h2>
        <p>
            Email:<br>
            <span class="smaller">perempuan.mudakarya@gmail.com</span><br>
            Instagram:<br>
            <span class="smaller">@perempuanmudakarya</span><br>
            Tiktok:<br>
            <span class="smaller">@perempuanmudakarya</span><br>
            Youtube:<br>
            <span class="smaller">@perempuanmudakarya8785</span>
        </p>
    </div>
    <div id="pageform">
        <h3>
            Collab With Us
        </h3>
        <input class="form-control" placeholder="Nama">
        <input class="form-control" placeholder="Email">
        <input class="form-control" placeholder="Subject">
        Message
        <textarea class="form-control">

        </textarea>
        <button type="button" class="btn btn-danger">
            Submit
        </button>
    </div>
</div>
{% endblock content %}